.error{
    position: static;
    width: 100%;
}

.container-2{
    height: 630px;
}

.text{
    margin-left: 40%;
    margin-top: 30%;
}

.imagen_2f{
    height: 105%;
    
}
.n1{
    color: rgb(0, 0, 0);
    font-weight: 600;
    align-items: center;
    align-content: center;
}

.n2{
    margin-top: 5%;
    font-weight: 600;
    align-items: center;
    align-content: center;
    font-size: 18px;
}


.eye {
    background-image: url(https://i.annihil.us/u/prod/marvel/html_pages_assets/error-pages/prod/black-widow-eye.d8a46f86.png);
    width: 111px;
    height: 111px;
    bottom: 41.2%;
    margin-left: 9.5%;
    position: absolute;
}