.error{
    position: static;
    width: 100%;
}

.container-2{
    height: 630px;
}

.text{
    margin-left: 40%;
    margin-top: 30%;
}

.imagen_2f{
    height: 105%;
}
.n1{
    color: rgb(0, 0, 0);
    font-weight: 600;
    align-items: center;
    align-content: center;
}

.n2{
    margin-top: 5%;
    font-weight: 600;
    align-items: center;
    align-content: center;
    font-size: 18px;
}