
.mvl-character-card{
    height: 355px;
    overflow: hidden;
    background: var(--color-primary-dark);
    color: var(--color-accent);
    border: 5px solid rgb(20, 207, 192);
    border-radius: 0 0 30px 0px;
    position:static;

}

.mvl-character-card__image-container{
    background: black;
    height: 50%;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 5px;
        background: rgb(180, 9, 248);
        position: absolute;
        bottom: -5px;
        z-index: 2;
    }
}

.mvl-character-card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
    transform: scaleX(1);
}

.mvl-character-card__body{
    padding: var(--space-sm);
    position: relative;
    height: 0;
    margin-bottom: 500px;
}

.mvl-character-card[data-is-skeleton=true]{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--color-skeleton);
        opacity: 0.9;
        z-index: 3;
    }
}

.u-no-margin2{
    font-size: 9px;
    position: relative;
    flex-direction: column;
    flex-grow: inherit;
}


 /* Si el cursor esta por encima entonces: */

.mvl-character-card:hover{
    overflow: hidden;
    opacity: 1;    /*   este con el margin y la transition le dan el estilo de mover hacia arriba -20px, y alzar el recuador del comic*/
    margin-top: -10px;
    transition: 0.7s ease-in-out;   /* ease-in-out, se utiliza para que apareezca los colores realzantes y no todo al tiempo*/
    margin-top: -10px;
    opacity: 1;
    color: var(--color-accent);
    box-shadow: 5px 10px 20px 1px rgb(153, 66, 175);   /* darle sombra a los bordes*/
    transition: all 0.7s linear;    /* que el efecto sea lento*/
    cursor: pointer;        /*  para que cambie el cursor cuando este el cursos por encima del boton */

    .mvl-character-card__image{
        width: 100%;
        height: 97.5%;
        object-fit: cover;
        object-position: left bottom;
        transform: scaleX(1.1) scaleY(1.1);
        transition: all 0.1s linear;    /* que el efecto sea lento*/
    }

    .mvl-character-card__image-container{
        &::before{
            background: rgb(214, 15, 15);
        }
    }

    .mvl-character-card__body{
        padding: var(--space-sm);
        background-color: rgb(214, 15, 15);
        opacity: 1;
        height: 200px;
        transition: 0.4s ease-in-out ;
    }
}

