

.conten1-open2{
    display: block;
    width: 495px;
    position: absolute;
    margin-top: 1410px;
    margin-left: 445px;
    margin: 15px solid black;
    background-color: rgb(255, 255, 255);
    height: 145px;
  }