.footer2{
    height: 800px;
    width: 100%;
    display: flex;
    background-color: red;
    color: var(--color-accent);
}

.container_1{
    height: 400px;
    background: rgb(202, 10, 10);
    

}


.container_2{
    background: rgb(15, 144, 153);
    height: 400px;
}