.mvl-character-gri-filters{
    border:  solid rgb(199, 36, 15);
    height: 130px;
}

.linea{
    border-bottom:  2px solid rgb(12, 12, 12); /* borde inferior*/
    position: relative;
    width: 100.2%;
    height: 37px;
}

.contenerdor_search{
    border:  2px solid white; /* borde inferior*/
    position: relative;
    height: 38.7px;
    width: 50%;
}

.contenerdor_search:focus-within{ /* el focus-within   se utiliza, para simbolizar el click*/
    border:  2px solid orange; /* borde inferior*/
    position: relative;
}


.icon{
    font-size: 19px;
}

input[type=text]{
    border:  none;    /* bordes */
    width: 50%;
    height: 35px;
    font-size: 30px;        /* tama;o de letra */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 545;         /*  negrilla  letra */

    
}

input:focus{
    outline: 0;   /*  quitar los bordes luego del click */

}

.contenerdor_2{
    border:  solid rgb(199, 36, 15);
    border-bottom:  2px solid rgb(182, 165, 165); /* borde inferior*/
    height: 36.5px;
    width: 489px;
    display: flex;
    align-items:flex-end;      /* aaliniar en la parte de abajo*/
    justify-content: right;  /* ajustar contenido a la derecha*/
    position:absolute;
    margin-left: 500px;
}

.contenerdor_3{
    margin-top: 80px;
    border:  solid rgb(199, 36, 15);
    height: 20px;
    width: 20%;
    position:absolute;
    margin-top: 60px;
}

.contenerdor_4{
    margin-top: 80px;
    border:  solid rgb(199, 36, 15);
    height: 20px;
    width: 20%;
    position:absolute;
    margin-top: 60px;
    margin-left: 33.3%;
}