
/* _________________________________________________________________________________________________________________________________________________________________*/
/* _____________________________________________Contenedores _____________________________________________*/

.mvl-character-gri-filters{

    height: 70px;
}


.contenerdor_2{
    border-bottom:  2px solid rgb(223, 211, 211); /* borde inferior*/
    height: 36.6px;   /* 36.5*/
    width: 105.0%;
    align-items:flex-end;      /* aaliniar en la parte de abajo*/
    justify-content: right;  /* ajustar contenido a la derecha*/
    margin-top: 23px;
    display: flex;
    gap: 0px;  
    position: relative;           /* separacion entre botones*/
}

.contenerdor_3{
    height: 36.5px;
    width: 105.0%;
    align-items:baselin;      /* aaliniar en la parte de abajo*/
    justify-content: left;  /* ajustar contenido a la derecha*/
    margin-left: -9px;
    margin-right: 0px;
    margin-top: -19px;
    display: flex;
}

.contenerdor_4{
    height: 36.5px;
    width: 105.0%;
    align-items:flex-end;      /* aaliniar en la parte de abajo*/
    justify-content: right;  /* ajustar contenido a la derecha*/
    margin-left: -10px;
    margin-right: 0px;
    margin-top: -19px;
    position: static;
}

/* _________________________________________________________________________________________________________________________________________________________________*/
/* _____________________________________________Contenedores de busqueda con efecto cuando le doy click_____________________________________________*/

/* _________________________________________________________________________________________________________________________________________________________________*/
/* _____________________________________________Linea_____________________________________________*/
.linea{
    border-bottom:  2px solid rgb(163, 23, 23); /* borde inferior*/
    width: 106%;
    height: 37.5px;
    position: relative;
}

/* _________________________________________________________________________________________________________________________________________________________________*/
/* ____________________________________________Icono_____________________________________________*/
.icon{
    font-size: 20px;
    margin-bottom: 10px;
}
/* _________________________________________________________________________________________________________________________________________________________________*/
/* ____________________________________________Input Data_____________________________________________*/
input[type=text]{
    border: none;/* bordes */
    width: 90%;
    height: 35px;
    font-size: 30px;        /* tama;o de letra */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 545;         /*  negrilla  letra */
    
}

input:focus{
    outline: 0;   /*  quitar los bordes luego del click */

}

/* _________________________________________________________________________________________________________________________________________________________________*/
/* ____________________________________________Input Data_____________________________________________*/

.letra_result{
    margin-top: 20px;
    font-weight: 100;
    font-size: 85%;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(150, 132, 112);
}



.form-select{
    width: 70px;
    height: 30px;
    font-weight: 10px;
    font-size:80%;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    margin-right: -9px;
    margin-bottom:  -5px;
}

.letra_result{
    margin-top: 9px;
    margin-left: 2px;
    font-size:80%;
    color: rgba(121, 71, 71, 0.774);
    font-size: 18px;

}


.letra2{
    margin-top: 22px;
    margin-left: 380px;
    font-size:80%;
    color: rgba(121, 71, 71, 0.774);

}

















