
/* _________________________________________________________________________________________________________________________________________________________________*/
/* _____________________________________________Contenedores _____________________________________________*/

.mvl-character-gri-filters{

    height: 130px;
}

.contenerdor_search{
    border:  2.1px solid white; /* borde inferior*/
    height: 38.7px;
    width: 105.7%;
    justify-content: left;
    margin-left: -12px;
}

.contenerdor_2{
    border-bottom:  2px solid rgb(223, 211, 211); /* borde inferior*/
    height: 36.6px;   /* 36.5*/
    width: 105.0%;
    align-items:flex-end;      /* aaliniar en la parte de abajo*/
    justify-content: right;  /* ajustar contenido a la derecha*/
    margin-left: -10px;
    margin-right: 0px;
    margin-top: 3px;
    display: flex;
}

.contenerdor_3{
    height: 36.5px;
    width: 105.0%;
    align-items:baselin;      /* aaliniar en la parte de abajo*/
    justify-content: left;  /* ajustar contenido a la derecha*/
    margin-left: -10px;
    margin-right: 0px;
    margin-top: 3px;
    display: flex;
}

.contenerdor_4{
    height: 36.5px;
    width: 105.0%;
    align-items:flex-end;      /* aaliniar en la parte de abajo*/
    justify-content: right;  /* ajustar contenido a la derecha*/
    margin-left: -10px;
    margin-right: 0px;
    margin-top: 3px;
    display: flex;
}

/* _________________________________________________________________________________________________________________________________________________________________*/
/* _____________________________________________Contenedores de busqueda con efecto cuando le doy click_____________________________________________*/

.contenerdor_search:focus-within{ /* el focus-within   se utiliza, para simbolizar el click*/
    border:  2.1px solid orange; /* borde inferior*/

}
/* _________________________________________________________________________________________________________________________________________________________________*/
/* _____________________________________________Linea_____________________________________________*/
.linea{
    border-bottom:  2px solid rgb(12, 12, 12); /* borde inferior*/
    width: 101%;
    height: 37.5px;
}

/* _________________________________________________________________________________________________________________________________________________________________*/
/* ____________________________________________Icono_____________________________________________*/
.icon{
    font-size: 19px;
    margin-bottom: 10px;
}
/* _________________________________________________________________________________________________________________________________________________________________*/
/* ____________________________________________Input Data_____________________________________________*/
input[type=text]{
    border:  none;    /* bordes */
    width: 50%;
    height: 35px;
    font-size: 30px;        /* tama;o de letra */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 545;         /*  negrilla  letra */
    
}

input:focus{
    outline: 0;   /*  quitar los bordes luego del click */

}

/* _________________________________________________________________________________________________________________________________________________________________*/
/* ____________________________________________Input Data_____________________________________________*/

.letra_result{
    margin-top: 20px;
    font-weight: 100;
    font-size: 85%;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(150, 132, 112);
}



.form-select{
    width: 70px;
    height: 30px;
    font-weight: 10px;
    font-size:80%;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    margin-right: -9px;
    margin-bottom:  -5px;
}

.letra{
    margin-bottom: 2px;
    margin-right: -0px;
    font-size:80%;
    color: rgba(121, 71, 71, 0.774);

}





















